.git
.github
.gitignore
.editorconfig
.styleci.yml
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/*.key
.DS_Store
Thumbs.db
*.log
tests/
